
.home-page {
  height: 92vh;
  background-color: black;
}

.hoverable:hover {
  border: 2px solid goldenrod;
  border-radius: 3px;
  transition-duration: 150ms;
}

.hovering {
  /* do not delete! */
  transition-delay: 0ms;
}

.window-closer {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.image-container {
  position: absolute;
  animation: image_mover;
  animation-duration: 15s;
  border-radius: 3px;
}

.image-frame {
  color: green;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
}

/* --------------------- Interactions --------------------- */
.hovering {
  /* do not delete! */
  transition-delay: 0ms;
}
.like {
  /* do not delete! */
  transition-delay: 0ms;
}
.dislike {
  /* do not delete! */
  transition-delay: 0ms;
}
.click {
  /* do not delete! */
  transition-delay: 0ms;
}


/* --------------------- Animations --------------------- */

.react-draggable {
  
}
/* https://www.cssmatic.com/box-shadow */
.react-draggable-dragging {
  border: 1px solid gray;
  border-radius: 5px;
  cursor: move;
}

.react-draggable-dragged {
  
}

/* --------------------- corner grabbers --------------------- */
#grabbers {
  position: relative;
}
#grabbers > div {
  position:absolute;
  width: 10px;
  height: 10px;
}
#grabbers > div:hover {
  background-color: goldenrod;
}

.top-left {
  top: 0;
  left: 0;
  font-size: .25em;
  background-color: black;
  color: #f1f1f1;
}
.top-right {
  top: 0;
  right: 0;
  cursor: ne-resize;
}
.bottom-left {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
.bottom-right {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

/* ------------------- like buttons */
#button-bar {
  position: relative;
  width: 100%;
}

.hoverable #button-bar {
  display: none;
}
.hoverable:hover #button-bar {
  display: inherit;
}

#button-bar > div {
  position:absolute;
  bottom: 5px;
  width: 25px;
  height: 25px;
  color: white;
}

#button-bar > div:hover {
  font-size: larger;
  transition-delay: 0ms;
  transition-duration: 250ms;
}

.like {
  left: 40%;
}
.dislike {
  left: 60%;
}
