
.home-page {
  height: 92vh;
  background-color: black;
}

.image-container {
  position: absolute;
  animation: image_mover;
  animation-duration: 15s;

}

.image-frame {
  color: green;
  background-size: contain;
  background-repeat: no-repeat;
}

/*
  Animations
*/

.image-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.image-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.image-exit {
  opacity: 1;
  transform: translateX(0%);
}

.image-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}