
.content-row {
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.layout_3_3 { }
.layout_3_2 { }
.layout_3_1 { }
.layout_2_3 { }
.layout_2_2 { }
.layout_2_1 { }
.layout_1 { }
