
.home-page {
  height: 92vh;
  background-image: url('/images/bermuda-square.svg');
  overflow-x: hidden;
}
.home-page::-webkit-scrollbar {
  display: none;
}

.home-page h1 {
  color: white;
  width: 100%;
}